@page "/ExperienceCards"
@using System.Diagnostics.Tracing

<div class="experience-cards">
    <MudPaper id="card1" class="experience-card rounded-lg px-5 py-4 mb-6">
        <a href="https://cogitogroup.net" target="_blank">
            <MudGrid>
                <MudItem xs="3" class="experience-card-date">
                    <MudText>
                        2024 - Present
                    </MudText>

                </MudItem>
                <MudItem xs="9">
                    <MudText class="experience-card-header">
                        Devops Engineer at Cogito Group
                    </MudText>
                    <MudText class="experience-card-info">
                        <MudText Typo="Typo.body1" class="mb-3">Consectetur in voluptate non culpa non consectetur enim
                            in elit
                            ullamco
                            in.
                        </MudText>
                        <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">React</MudChip>
                        <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">Javascript</MudChip>
                        <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">Go</MudChip>
                    </MudText>
                </MudItem>
            </MudGrid>
            <MudIcon Icon="@Icons.Material.Filled.OpenInNew" Size="Size.Small" Class="experience-card-icon" />
        </a>
    </MudPaper>
</div>

@code {
    private string? hoveredCardId;

    private void OnMouseOver(string cardId)
    {
        hoveredCardId = cardId;
        Console.WriteLine("Hovered");
    }
}