@page "/ExperienceCards"
@using System.Diagnostics.Tracing

@inject MudTheme CustomTheme

<div class="experience-cards">
    <MudPaper id="card1" class="experience-card rounded-lg px-5 py-4 mb-6" @onmouseover="HandleMouseOver"
        @onmouseleave="HandleMouseLeave" Style="@( $"background-color: {backgroundColor};")">
        <a href="https://cogitogroup.net" target="_blank">
            <MudGrid>
                <MudItem xs="3" class="experience-card-date">
                    <MudText>
                        2024 - Present
                    </MudText>

                </MudItem>
                <MudItem xs="9">
                    <MudText class="experience-card-header" Style="@($"color: {color};")">
                        Devops Engineer at Cogito Group
                    </MudText>
                    <MudText class="experience-card-info">
                        <MudText class="mb-3">Consectetur in voluptate non culpa non consectetur enim
                            in elit
                            ullamco
                            in.
                        </MudText>
                        <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">React</MudChip>
                        <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">Javascript</MudChip>
                        <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">Go</MudChip>
                    </MudText>
                </MudItem>
            </MudGrid>
            <MudIcon Icon="@Icons.Material.Filled.ArrowOutward" Size="Size.Small" Class="experience-card-icon"
                Style="@( $"color: {color}; " )" />
        </a>
    </MudPaper>
</div>

@code {
    private bool _isDarkMode;
    private string? color;
    private string? backgroundColor;

    [CascadingParameter]
    public bool IsDarkMode
    {
        get => _isDarkMode;
        set
        {
            if (_isDarkMode != value)
            {
                _isDarkMode = value;
                UpdateColor();
            }
        }
    }

    private void HandleMouseOver()
    {
        var palette = GetPalette();
        color = palette.Primary.ToString();
        backgroundColor = palette.Tertiary.ToString();
    }

    private void HandleMouseLeave()
    {
        var palette = GetPalette();
        color = palette.TextPrimary.ToString();
        backgroundColor = "rgba(45,40,38,0)";
    }

    private void UpdateColor()
    {
        var palette = GetPalette();
        color = palette.TextPrimary.ToString();
        backgroundColor = null;
    }

    private Palette GetPalette()
    {
        return _isDarkMode ? CustomTheme.PaletteDark : CustomTheme.PaletteLight;
    }
}