/* File: /home/aiden/Projects/MyPortfolio/Components/Blog/BlogpostTeaser.razor.css */

div {
  /* padding: 1rem; */
  position: relative;
  background-color: rgba(26, 26, 39, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: none;
}

h1 {
  margin-bottom: 0.5rem;
}

div {
  transition: border 0.3s;
  transition: background-color 0.3s;
}

div:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
