@using MudBlazor
@using MudBlazor.Services
@using MyPortfolio.Components

@inject IJSRuntime JSRuntime

@page "/"

<PageTitle>Aiden Rogers</PageTitle>

@* row *@
<MudContainer>
    <MudGrid id="portfolio-columns">
        <MudItem id="profile-picture" sm="12" md="5" class="sidebar-nav lg-sticky" Style="">
            <a href="/">
                <MudText Typo="Typo.h1" Class="mud-text-primary" Style="font-weight: bold;">Aiden Rogers</MudText>
            </a>
            <MudText Typo="Typo.h2">Graduate Software Engineer</MudText>
            <MudPaper Elevation="15" Class="mud-elevation-3 rounded-circle my-4" Style="width: 250px; height:
            250px;">
                <img src="images/me.avif" alt="Aiden Rogers" class="rounded-circle"
                    style="width: 250px; height: 250px;" />
            </MudPaper>

            @* <MudText Typo="Typo.body1">
            Software Engineer <span style="color: var(--hover-color);"> | </span> Building efficient, user-friendly,
            and
            accessible applications.
            </MudText> *@
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <MudList T="string" class="mt-10 scroll-link-list">
                    <MudListItem>
                        <a href="#about">
                            <MudText class="title scroll-link" Typo="Typo.body1">About</MudText>
                        </a>
                    </MudListItem>
                    <MudListItem>
                        <a class="scroll-link" href="#experience">
                            <MudText class="title " Typo="Typo.body1">Experience</MudText>
                        </a>
                    </MudListItem>
                    <MudListItem>
                        <a class="scroll-link" href="#projects">
                            <MudText class="title " Typo="Typo.body1">Projects</MudText>
                        </a>
                    </MudListItem>
                </MudList>
            </MudHidden>
        </MudItem>
        <MudItem sm="12" md="6">
            <MudText id="about" Typo="Typo.h3" class="mt-5" Color="Color.Secondary">About Me</MudText>

            <MudText Typo="Typo.body1">Hi! I'm Aiden, a software engineer with a passion for building useful and
                efficient applications. I'm currently finishing my Bachelor's degree in Software Engineering at the
                <MudLink class="inline-link" Href="https://www.canberra.edu.au/" Typo="Typo.body1" Color="Color.Primary"
                    Underline="Underline.None" Target="_blank">University
                    of Canberra</MudLink>, and I am
                keen to start
                building
                stuff!
            </MudText>

            <MudText Typo="Typo.body1" class="mt-4">I am a software engineer with a passion for web development, I have
                experience in
                front-end and back-end development, and I am always looking to learn new technologies.</MudText>
            <MudText Typo="Typo.body1" class="mt-4">
                My background in sales at The Good Guys has instilled in me strong
                communication and customer service skills. I'm comfortable explaining complex technical concepts to
                diverse audiences and believe excellent communication is vital in any successful project.
            </MudText>

            <MudText Typo="Typo.h4" class="mt-5" Color="Color.Secondary">Skills and Tech
                Stack
            </MudText>

            <MudText>
                HTML5 <span>
                    <MudIcon Icon="fa-brands fa-html5" Color="Color.Primary" Size="Size.Small" />
                </span> CSS3 <span>
                    <MudIcon Icon="fa-brands fa-css3-alt" Color="Color.Primary" Size="Size.Small" />
                </span> JavaScript <span>
                    <MudIcon Icon="fa-brands fa-js-square" Color="Color.Primary" Size="Size.Small" />
                </span> SQL <span>
                    <MudIcon Icon="fa-solid fa-database" Color="Color.Primary" Size="Size.Small" />
                </span> Git <span>
                    <MudIcon Icon="fa-brands fa-git-alt" Color="Color.Primary" Size="Size.Small" />
                </span> Bootstrap <span>
                    <MudIcon Icon="fa-brands fa-bootstrap" Color="Color.Primary" Size="Size.Small" />
                </span> Azure <span>
                    <MudIcon Icon="fa-brands fa-microsoft" Color="Color.Primary" Size="Size.Small" />
                </span> Docker <span>
                    <MudIcon Icon="fa-brands fa-docker" Color="Color.Primary" Size="Size.Small" />
                </span>
            </MudText>

            <MudText id="experience" Typo="Typo.h3" class="mt-5 mb-5" Color="Color.Secondary">Experience</MudText>
            <ExperienceCards></ExperienceCards>
            <MudText id="projects" Typo="Typo.h3" class="mt-5" Color="Color.Secondary">Projects</MudText>
            <MudText Typo="Typo.body1" class="mt-4">Coming Soon!</MudText>
        </MudItem>
    </MudGrid>
</MudContainer>


@code {

}